*{
    font-size: 14;
    line-height: 18px;
}


h1{
    text-align: center;
}

h3{
    text-align: center;
    height: 18px;
    width: 100%;
    background-color: bisque;
}

body{
    

}